<?php echo $this->doctype(); ?> 
<html class="no-js" lang="en"> 
    <head></head>
    <body class="<?php echo $this->controller;?>">
        echo $this->actions($this->layout())->displayContainers();
    </body>
</html>
