<?php echo $this->doctype(); ?>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> 
<!--<![endif]-->

    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Admin</title>

        <!-- Styles -->
        <?php echo $this->headLink()->prependStylesheet($this->assetUrl('css/admin.css')); ?>
        
    </head>
    <body class="<?php echo $this->controller;?>">
    <header class="ui-tabs">
          <h1>Admin</h1>
          <a class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" href="<?php echo $this->url('zfcuser/logout');?>" >
                <span class="ui-button-icon-primary ui-icon ui-icon-arrowthick-1-e"></span>
                <span class="ui-button-text">Logout</span>
          </a>
          <?= $this->navigation('admin_navigation')->menu()->setUlClass('ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all')->renderMenu();?>
      </header>
        
        <div role="main">
            <?php
                echo $this->actions($this->layout())->displayWrapper();
            ?>
        </div>
         
        <footer></footer>
        
        <!-- Scripts -->
        
        <!-- Scripts I -->
        <script type="text/javascript">
            var _BASEURL = "<?= $this->basePath();?>";
            var _BASEURL = "<?= $this->basePath();?>";
            var _ASSETURL = "<?= $this->assetUrl('/', true);?>";
            var _CACHE = <?= $this->assetUrl()->getCache() ? 'true' : 'false';?>;
            var CKEDITOR_BASEPATH = "<?php echo $this->assetUrl('vendor/bower_components/ckeditor/', true);?>";
        </script>
        <?php
        
            $gridScript = (string) $this->headScript();
        
            $this->headScript()->setFile($this->assetUrl('vendor/bower_components/jquery-legacy/jquery.js'));        
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/core.js'));  
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/widget.js')); 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/button.js')); 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/menu.js')); 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/position.js')); 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/autocomplete.js')); 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/mouse.js')); 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/slider.js')); 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.ui/ui/datepicker.js')); 

            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jquery.cookie/jquery.cookie.js'));        
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/ckeditor/ckeditor.js'));            
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/ckeditor/adapters/jquery.js'));  
 
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jqgrid/js/jquery.jqGrid.js'));
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/jqgrid/js/i18n/grid.locale-de.js'));
            
            $this->headScript()->appendFile($this->assetUrl('vendor/bower_components/requirejs/require.js'));        

            $this->headScript()->appendFile($this->assetUrl('js/admin.js'));
            
            echo $this->headScript();
            echo $gridScript;

        ?>

        <?php
            echo $this->inlineScript()->setScript(
                $this->dynamicScript()
            ); 
        ?>
    </body>
</html>
